[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-encryptor
Exec=harbour-encryptor
Name=harbour-encryptor
# translation example:
# your app name in German locale (de)
Name[de]=harbour-encryptor

